<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード再設定完了</title>
    <link rel="icon" th:href="@{/img/zoutohana-jitsubutsu.png}">
    <link rel="stylesheet" th:href="@{/css/auth/pw-reset-confirm.css}"
        href="../../static/css/auth/pw-reset-confirm.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <main>
        <div class="form-container">
            <div class="check-img-div">
                <div class="check-outer">
                    <div class="check-inner">
                        <svg width="40" height="30" viewBox="0 0 52 40" fill="none">
                            <path d="M5 22L20 35L47 5" stroke="white" stroke-width="6" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="complete-text">
                <h2>パスワードが変更されました</h2>
            </div>
            <div class="info-box">
                <div class="container">
                    <div class="key-box">
                        <img class="key-img" th:src="@{/img/key.png}" src="../img/key.png" alt="">
                        <h3>セキュリティキーについて</h3>
                    </div>
                    <div class="underline"></div>
                </div>
                <div class="text-gap">
                    <p class="intro-text">このコードは</p>
                    <p class="intro-text">パスワードを変更する際に必要になります。</p>
                </div>
                <div class="security-code">
                    <p th:text="${securityKey}" class="security-code-text">AAAA-AAAA</p>
                    <p class="space">|</p>
                    <div class="copy-box">
                        <img th:src="@{/img/draft2.png}" src="../img/darft2.png" class="security-img" alt="">
                        <p>Copy</p>
                    </div>
                </div>
                <div class="border-security"></div>
                <div class="squea-box">
                    <div class="maku-box">
                        <img th:src="@{/img/extension.png}" src="../img/!.png" class="maku-security" alt="">
                        <img th:src="@{/img/extension.png}" src="../img/!.png" class="maku-security" alt="">
                        <img th:src="@{/img/extension.png}" src="../img/!.png" class="maku-security" alt="">
                    </div>
                    <div class="maku-text">
                        <p>コピーや自身の端末でスクリーンショット
                            を撮り、厳重に保管してください。</p>
                        <p>安全な場所に保管し、他人に教えないで
                            ください。</p>
                        <p class="red-text">紛失するとパスワードの再設定ができなく
                            なる可能性があります。</p>
                    </div>
                </div>
            </div>
            <div>
                <a th:href="@{/login(id=${id})}" href="login.html" class="btn btn-next-step" id="btn-next-step">
                    ログインへ
                </a>
            </div>
        </div>
    </main>
</body>

</html>