<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント新規登録</title>
    <link rel="icon" th:href="@{/img/zoutohana-jitsubutsu.png}">
    <link rel="stylesheet" th:href="@{/css/auth/signup-confirm.css}" href="../../static/css/auth/signup-confirm.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/form-container.css}" href="../../static/css/form-container.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <form th:action="@{/signup/confirm(id=${id})}" th:object="${signupForm}" method="post">
        <input type="hidden" th:field="*{loginId}">
        <input type="hidden" th:field="*{nickname}">
        <input type="hidden" th:field="*{address}">
        <input type="hidden" th:field="*{password}">
        <input type="hidden" th:field="*{confirmPassword}">
        <input type="hidden" th:field="*{selfIntroduction}">
        <input type="hidden" th:field="*{icon}">
        <input type="hidden" th:field="*{birthYear}">
        <input type="hidden" th:field="*{userGender}">


        <header class="signup-header">
            <a th:href="@{/signup(id=${id})}" class="back-link"
                id="back-link-with-data">&lt;&nbsp;&nbsp;もどる</a>
            <h1><i class="fas fa-user-check"></i> 内容確認</h1>
        </header>

        <main>
            <div class="form-container">
                <p class="intro-text">内容に誤りがないか、よくご確認ください</p>

                <div class="details-list">
                    <div class="detail-item">
                        <label>アカウントID</label>
                        <div th:text="${signupForm.loginId}" class="value-display" id="display-account-id">
                        </div>
                    </div>

                    <div class="detail-item">
                        <label>ニックネーム</label>
                        <div th:text="${signupForm.nickname}" class="value-display" id="display-nickname">
                        </div>
                    </div>

                    <div class="detail-item">
                        <label>アイコン</label>
                        <div class="icon-grid">
                            <div class="icon">
                                <img th:src="@{/api/image/icon{id}.png(id=${signupForm.icon})}" src="../../static/img/flower-pink.png" class="flower" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="detail-item">
                        <label>居住地</label>
                        <div th:text="${signupForm.address}" class="value-display inline-values">

                        </div>
                    </div>

                    <div class="inline-group">
                        <div class="detail-item half-width">
                            <label>生年</label>
                            <div th:text="${signupForm.birthYear + ' 年'}" class="value-display" id="display-year">
                            </div>
                        </div>
                        <div class="detail-item half-width">
                            <label>性別</label>
                            <div th:if="${signupForm.userGender.dbValue == 'MALE'}" class="value-display"
                                id="display-gender">
                                男性
                            </div>
                            <div th:if="${signupForm.userGender.dbValue == 'FEMALE'}" class="value-display"
                                id="display-gender">
                                女性
                            </div>
                            <div th:if="${signupForm.userGender.dbValue == 'UNSPECIFIED'}" class="value-display"
                                id="display-gender">
                                その他
                            </div>
                        </div>
                    </div>

                    <div class="detail-item">
                        <label>自己紹介</label>
                        <div th:text="${signupForm.selfIntroduction}" class="value-display-bio" id="display-bio">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn-create-account">アカウントを作成する</button>

                <footer class="footer-inside">
                    <p>&copy; 象と花プロジェクト</p>
                </footer>

            </div>

            <footer class="footer-outside">
                <p>&copy; 象と花プロジェクト</p>
            </footer>

        </main>

    </form>
</body>

</html>