<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${project.name}">企画投票期間</title>
    <link rel="icon" th:href="@{/img/zoutohana-jitsubutsu.png}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/project/first-review.css}" href="../../static/css/project.css">
    <style th:inline="css">
        :root {
            --main-color: [(${
                    project.themeColor.dbValue
                })];

            --sub-color: [(${
                    project.themeColor.dbValue
                })];
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/project/first-review.css}" href="../../static/css/project/first-review.css">
</head>

<body class="no-scroll">
    <div class="container">
        <div class="img-box" id="tapTarget">
            <div class="book-text" id="bookText">
                <div>
                    <h1>あなたの</h1>
                    <h1>"読みたい"が</h1>
                    <h1>次に並ぶ本を決めます</h1>
                </div>
                <div class="text-top">
                    <p>一次審査へのたくさんの書評投稿</p>
                    <p>ありがとうございました。</p>
                </div>
                <div class="text-box">
                    <p>投稿された作品は二次審査へと進み、</p>
                    <p>ここからは読者のみなさんの"いい</p>
                    <p>ね"が力になります</p>
                </div>
                <div class="text-box">
                    <p>"いいね"が多かった 上位10作品 が、</p>
                    <p>次のステップへ進むことができます</p>
                    <p> 気になった作品に、あなたの一票を</p>
                    <p>ぜひ届けてください。</p>
                </div>
            </div>
        </div>
        <div class="next-section" id="nextStep">
            <div class="totalling-box">
                <p class="totalling-text">集まった書評を</p>
            </div>
            <div class="looking-box">
                <p class="totalling-text">見てみましょう</p>
            </div>
            <div class="shelf-grid" id="shelf">
            </div>
            <div class="button-area">
                <button id="nextBtn" class="next-btn" disabled>次の作品へ</button>
            </div>
        </div>
        <div class="one-book-box" id="voteReview">
            <h3 class="you-one-text">あなたが選んだ１冊</h3>
            <div class="one-text-box">
                <p class="one-text">現在、あなたが投票している作品です</p>
                <p class="one-text">投票期間終了まで応援しましょう</p>
            </div>
            <div class="one-book-shinto-box">
            </div>
            <div class="share-box" id="shareBox">
                <p class="share-text">投票を取り消す</p>
            </div>
        </div>
        <div class="all-book-box" id="allBookBox">
            <div class="tab-wrapper">
                <div class="tab active">
                    全ての書評
                    <span class="marker"></span>
                </div>
                <div class="tab">
                    ブックマーク済み
                </div>
            </div>
            <div class="book-shinto-box">
            </div>
            <div id="pagination" class="pagination">
                <button onclick="createPagination(0)" id="paginationPrev" class="prev">
                    << </button>
                        <button onclick="createPagination(1)" id="paginationNext" class="next">>></button>
            </div>
        </div>
        <div class="section-title-area">
            <div class="section-square"></div>
            <h2 class="section-title">受賞の流れ</h2>
        </div>
        <section>
            <div class="Award-box">
                <div class="Award">
                    <div class="Award-circle-box">
                        <div class="inversion-circle">
                            <p class="Award-circle-step">STEP</p>
                            <p class="Award-circle-1">01</p>
                        </div>
                    </div>
                    <div class="Award-text">
                        <h4>書店員による審査（一次審査）</h4>
                        <p>投稿された書評は、書店員がチェックします。書店員の心を掴む書評であれば、一次審査通過となり、二次審査へ進むチャンスを得られます。</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="dashe-box">
            <div class="dashe"></div>
        </div>
        <section>
            <div class="Award-box">
                <div class="Award">
                    <div class="Award-circle-box">
                        <div class="Award-circle">
                            <p class="inversion-circle-step">STEP</p>
                            <p class="inversion-circle-1">02</p>
                        </div>
                    </div>
                    <div class="Award-text">
                        <h4> 一般投票（二次審査）</h4>
                        <p>一次審査を通過した作品は、読者（一般ユーザー）による投票に進みます。「最も読みたい」と思った作品に投票してもらい、投票数の多い上位10作品が二次審査を通過します。</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="dashe-box">
            <div class="dashe"></div>
        </div>
        <section class="Award-bottom">
            <div class="Award-box">
                <div class="Award">
                    <div class="Award-circle-box">
                        <div class="inversion-circle">
                            <p class="inversion-circle-step">STEP</p>
                            <p class="inversion-circle-1">03</p>
                        </div>
                    </div>
                    <div class="Award-text">
                        <h4>販売・大賞決定</h4>
                        <p>上位10作品は、推薦書評POP付きでさわや書店の店頭に並びます。一定期間の販売数を競い、最も売れた作品が大賞に選ばれます。</p>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="~{layout :: contact}"></div>

        <!-- オーバーレイ -->
        <div id="tutorialOverlay" style="margin-top: -30px;"></div>

        <!-- モーダル -->
        <div id="bookDetailModal" class="modal-overlay">
            <span id="closeModal" class="close-button">&times;</span>
            <div style="">
                <div class="modal-content">
                    <div class="modal-box">
                        <div class="modal-textFirst-box">
                            <img th:src="@{/img/rose.png}" class="modal-rose" alt="">

                            <h3 id="modalTitle">作品タイトル</h3>

                            <p id="textFirst" class="modal-textFirst">
                            </p>
                        </div>

                        <div class="modal-textSecond-box" style="display:none;"> <img th:src="@{/img/rose.png}"
                                class="modal-rose" alt="">
                            <p id="textSecond" class="modal-textSecond"></p>
                        </div>
                    </div>

                    <div class="modal-buttons" id="modalButtonsArea">
                        <button id="voteBtn" onclick="Sample(id)"><span
                                class="material-symbols-outlined">how_to_vote</span>投票</button>
                        <button id="bookmarkBtn" onclick="Sample(id)" class=""><span
                                class="material-symbols-outlined">bookmark</span>ブックマーク</button>
                    </div>

                    <div class="profile-card">
                        <div class="profile-header">
                            <img id="modalIcon" src="" class="profile-icon" alt="icon">

                            <h3 id="modalName" class="profile-name">名前</h3>
                        </div>

                        <div class="profile-tags">
                            <p id="modalInfo" style="font-size: 0.9rem; color: #555;"></p>
                        </div>

                        <hr class="profile-line">

                        <div class="profile-bio">
                            <p id="modalProfileText">
                                ここに自己紹介が入ります。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalScrollOverlay" class="modal-scroll-overlay" style="display:none;">
                <div class="scroll-guide">
                    <p>下にスクロールしてみよう</p>
                    <span class="arrow">↓</span>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

<script th:src="@{/js/first-review.js}" src="../../static/js/first-review.js"></script>

</html>