@charset "utf-8";

:root {
  --admin-gray: #f2f2f2;
  --admin-text-gray: #A6A6A6;
  --theme-green: #449872;
  --theme-pink: #FF6C84;
  --theme-yellow: #F5B84C;
  --theme-blue: #00BCD4;
  --theme-black: #393939;
  --theme-gray: #A0B0B7;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.admin-text-gray {
  color: var(--admin-text-gray);
}

html {
  font-size: 16px;
  color: var(--font-normal);
}

#admin-projectCreate header {
  background-color: var(--main-color);
  padding: 1rem 3rem;
}

#admin-projectCreate main {
  padding: 1rem 3rem;
}

.main-content-card {
  background-color: var(--admin-gray);
  padding: 2rem 6rem;
  margin-top: 1rem;
  border-radius: 2rem;

  table {
    width: 100%;
  }

  th {
    width: 100%;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }

  td {
    padding: 1rem 0;
  }


  td input[type="text"] {
    width: 100%;
    padding: 0.5rem;
  }

  .hoverToHelp {
    cursor: help;
  }

  td textarea {
    width: 100%;
    padding: 0.5rem;
    overflow-y: scroll;
    resize: vertical;
  }

  td .wave-dash {
    margin: 0 0.5rem;
  }

  td input[type="datetime-local"] {
    width: 25%;
    padding: 0.5rem;
  }

  td input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    transform: scale(1.5);
    position: relative;
  }

  .radio-wrap {
    display: flex;
    gap: 2rem;
  }

  .radio-wrap label {
    cursor: pointer;
  }

  td input[type="radio"] {
    transform: scale(2);
    margin-right: 1rem;
  }

  #projectInput-td div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .themeColor-wrap {
    width: 50%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .themeColor-wrap input[type="radio"] {
    display: none;
  }

  .color-dot {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: white;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;

    display:flex;
    justify-content:center;
    align-items:center;
  }

  .color-dot span {
    display: none;
  }

  input[type="radio"]:checked + .color-dot {
    outline: 2px solid white;
    outline-offset: -5px;
  }

  input[type="radio"]:checked + .color-dot span {
    display: inline;
  }

  #mainImg-preview {
    display: none;
    height: 20rem;
    width: auto;
    object-fit: scale-down;
    background-color: #ddd;
    border: 1px solid #ccc;
  }

  #pdf-list-ul {
    list-style: none;
  }

  #pdf-list-ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .pdf-list-removeButton {
    color: var(--admin-text-gray);
    cursor: pointer;
    padding: 0;
    background-color: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-wrap {
    display: flex;
    gap: 2rem;
    text-align: center;
    margin: 2rem auto;
    justify-content: center;
  }

  .button-wrap button,
  .button-wrap input[type="submit"] {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #D9D9D9;;
    border: 1px solid #CCCCCC;
  }

  .button-wrap button:active,
  .button-wrap input[type="submit"]:active {
    background-color: var(--theme-green);
    color: white;
  }
}
