/* === ヘッダー１ === */
.signup-header {
  color: var(--text-white-color);
  padding: 20px;
  padding-top: 40px;
  background-color: var(--main-color);
  text-align: center;
  margin-top: 2rem;
}

.signup-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.back-link {
  position: absolute;
  top: 30px;
  left: 30px;
  color: var(--text-white-color);
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .signup-header h1 {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  .signup-header h1 {
    margin-top: 4rem;
  }
}
